[Unit]
Description=IPerf3 Speed Test Service
After=network.target

[Service]
ExecStart=/usr/bin/iperf3 --server
Restart=on-failure

[Install]
WantedBy=multi-user.target
